<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/my_markdown_blog.css" />
    <title>Blog</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all__articles">

      <% articles.forEach(article => { %>
        <div class="list__of__articles article">
        <a class="read__more__btn article" href="articles/<%= article.slug %> ">
        <h4 class="article__title article"><%= article.title %></h4>
        <div class="article__description article"><%= article.description %></div>
        <div class="article__date article"><%= article.createdAt.toLocaleDateString() %></div>
      </a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
