<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/my_markdown_blog.css" type="text/css" />
    <title>Blog</title>
  </head>
  <body>
    <%- include('../partials/_navbar_with_edit.ejs') %>
    <div class="show__article">
      <!-- <div class="show__article__date"><%= article.createdAt.toLocaleDateString() %></div> -->
      <div class="show__article__date">
        <%= article.createdAt.toLocaleTimeString('UTC',{ year: 'numeric', month:
        '2-digit', day: '2-digit', hour: '2-digit', minute:'2-digit', hour12:
        false }) %>
      </div>
      <h1 class="article__title"><%= article.title %></h1>
      <p class="article__description"><%= article.description %></p>
      <div class="article__markdown__wrapper">
        <div class="article__markdown"><%- article.sanitizedHtml %></div>
      </div>
    </div>
    <div class="delete__btn__div">
      <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
        <button class="delete__btn" type="submit">Delete</button>
      </form>
    </div>
  </body>
</html>
